# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
.vitest
dist
playwright-report
test-results

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
